<ion-content padding-top padding-left padding-right no-bounce>
  <div padding>
    <div text-center>
      <img src="assets/img/logo.png">
    </div>


    <div text-center style="margin-top:21% !important;">
      <img src="assets/img/school-logobg.png" style="width:60%">
    </div>
  </div>

<div style="background-image: none !important;">
    <form [formGroup]="loginForm">
    <div padding>
      <ion-item no-padding>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>

      <ion-item no-padding style="padding-bottom: 20px;">
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <button ion-button color="primary" full (click)="login()">Login</button>


    </div>
  </form>
</div>


</ion-content>

