.list-ios {
   margin: 0px;
}

page-main {
#notifications-badge {
        //    background-color: red;
           position: absolute;
           top: 2px;
   right: 6px;
        border-radius: 35%;

       }

       .label-md {
    margin: 0px; 
}

.novo-badge{
        background-color: red;
    position: absolute;
    top: 10px;
    right: 6px;
    border-radius: 13%;
    /* padding: 3px; */
    font-size: 12px;
    color: white;
    line-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
}

       .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   overflow: hidden;
}

.item-md ion-avatar ion-img, .item-md ion-avatar img {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   overflow: hidden;
}
ion-slide {
  align-items: flex-start !important;
}
.indicatorSegment
    {
        -webkit-transition: 0.3s all;
        -moz-transition:  0.3s all;
        -o-transition:  0.3s all;
        transition:  0.3s all;
        transform-origin: top 0 left 0;
        width:20%;
        height:4px;
        background-color:#489df4 !important;;
    }
.swiper-slide {
        overflow-y: scroll !important;
        display: block !important;
    }




.circular--portrait {
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}


.card-md{
        box-shadow: none !important;
}

.card-ios{
        box-shadow: none !important;
}



    
}