<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Alunos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>


  <ion-card no-margin style="width:100%;">

    <ion-item padding-left padding-top>
      <!--<ion-avatar item-left>
        <img src="http://www.kmescolar.net{{student.FOTO}}">
      </ion-avatar>-->
          <div class="circular--portrait" item-left>
          <img src="http://www.kmescolar.net{{student.FOTO}}">
          </div>
      <h2>{{student.NOME}}</h2>
      <p>{{student.MATRICULA}}</p>
      <p>{{student.TURMA}}</p>
    </ion-item>

    <div padding-top>
      <ion-row no-wrap>
        <ion-col (click)="b1()" text-center tappable>
          <img src="assets/img/newsfeed.png" style="width: 100%; padding-left: 10px; padding-right: 10px;" />
          <ion-badge *ngIf="feedCount.QTD_AVISOS > '0'" id="notifications-badge" color="danger">{{feedCount.QTD_AVISOS}}</ion-badge>
          <ion-row style="font-size:10px;color:dimgray;padding-top:8px;padding-bottom:5px;" text-center text-wrap>Avisos e Ocorrencias</ion-row>
        </ion-col>
        <ion-col (click)="b2()" text-center tappable>
          <img src="assets/img/academicinformation.png" style="width: 100%; padding-left: 10px; padding-right: 10px;" />
          <ion-badge *ngIf="feedCount.QTD_ACADEMICOS > '0'" id="notifications-badge" color="danger">{{feedCount.QTD_ACADEMICOS}}</ion-badge>
          <ion-row style="font-size:10px;color:dimgray;padding-top:8px;padding-bottom:5px;" text-center text-wrap>Informações Acadêmicas</ion-row>
        </ion-col>
        <ion-col (click)="b3()" text-center tappable>
          <img src="assets/img/financialinformation.png" style="width: 100%; padding-left: 10px; padding-right: 10px;" />
          <ion-badge *ngIf="feedCount.QTD_FINANCEIROS > '0'" id="notifications-badge" color="danger">{{feedCount.QTD_FINANCEIROS}}</ion-badge>
          <ion-row style="font-size:10px;color:dimgray;padding-top:8px;padding-bottom:5px;" text-center text-wrap>Informações Financeiras</ion-row>
        </ion-col>
        <ion-col (click)="b4()" text-center tappable>
          <img src="assets/img/documents.png" style="width: 100%; padding-left: 10px; padding-right: 10px;" />
          <ion-badge *ngIf="feedCount.QTD_DOCUMENTOS > '0'" id="notifications-badge" color="danger">{{feedCount.QTD_DOCUMENTOS}}</ion-badge>
          <ion-row style="font-size:10px;color:dimgray;padding-top:8px;padding-bottom:5px;" text-center text-wrap>Documentos Escolares</ion-row>
        </ion-col>
        <ion-col (click)="b5()" text-center tappable>
          <img src="assets/img/profile.png" style=" width: 100%; padding-left: 10px; padding-right: 10px;" />
          <ion-row style="font-size:10px;color:dimgray;padding-top:8px;padding-bottom:5px;" text-center text-wrap>Perfil Completo</ion-row>
        </ion-col>
      </ion-row>
    </div>

  </ion-card>
  <div id='indicator' class="indicatorSegment"></div>

  <ion-slides #mySlider (ionSlideDidChange)="onSlideChanged()" loop="true">

    <ion-slide style="background-color: #e7e7e7">
      <div *ngIf="newsfeed" style="padding-bottom:10px;">
        <ion-card *ngFor="let news of newsfeed; let i = index">

          <ion-item no-padding no-margin tappable (click)="notficationReadUnread(lido[i], news.NUMERO, i)">
            <ion-grid>
              <ion-row>
                <ion-col col-2>
                  <img src="http://www.kmescolar.net{{news.ICONE}}" style="width:90%;height:auto;">
                </ion-col>

                <ion-col col-7>
                  <h2 text-wrap style="color:black;font-weight:bold;font-size:14px;">{{news.TIPO}}</h2>
                  <p style="font-style:italic;font-size:12px;">{{news.DATA}}</p>
                </ion-col>

                <ion-col col-3>
                  <!-- <div *ngIf="news.LIDO == '0' " class="novo-badge">NOVO</div> -->
                  <div *ngIf="lido[i] == '0' " style="text-align:right;"><ion-icon color="primary" style="font-size:30px;" name="star"></ion-icon></div>
                  <div *ngIf="lido[i] == '1' " style="text-align:right;"><ion-icon color="primary" style="font-size:30px;color:#666;" name="star-outline"></ion-icon></div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

          <ion-card-content>
            <p text-left>{{news.TEXTO}}</p>
          </ion-card-content>

        </ion-card>
      </div>
    </ion-slide>

    <ion-slide style="background-color: #e7e7e7">
      <div style="padding-bottom:10px;">
        <ion-card>
          <ion-item  (click)="goToAnnualCalender()" tappable>
            <!--<ion-icon name="calendar" ios="md-calendar" md="md-calendar" item-left large></ion-icon>-->
             <button ion-fab mini item-left color="fabc"><ion-icon name="md-calendar"></ion-icon></button>
            <h2>Agenda escolar</h2>
          </ion-item>
        </ion-card>

        <ion-card (click)="getGradeReports()" tappable>
          <ion-item>
            <!--<ion-icon name="list" item-left large></ion-icon>-->
            <button ion-fab mini item-left color="fabc"><ion-icon name="list"></ion-icon></button>
            <h2>Boletim de notas</h2>

          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item (click)="getWeeklySchedule()" tappable>
            <!--<ion-icon name="apps" item-left large></ion-icon>-->
            <button ion-fab mini item-left color="fabc"><ion-icon name="apps"></ion-icon></button>
            <h2>Quadro de horários</h2>
          </ion-item>
        </ion-card>
      </div>
    </ion-slide>

    <ion-slide style="background-color: #e7e7e7">
      <div style="padding-bottom:10px;">
        <ion-card (click)="getAllBills()" tappable>
          <ion-item>
            <!--<ion-icon name="logo-usd" item-left large></ion-icon>-->
             <button ion-fab mini item-left color="fabc"><ion-icon name="logo-usd"></ion-icon></button>
            <h2>Contas e mensalidades</h2>
            <p>{{( billsCount | async)?.QTD_NAO}} não pagas / {{( billsCount | async)?.QTD_TOT}} no total</p>
          </ion-item>
        </ion-card>

        <!--<ion-card>
          <ion-item>
            <ion-icon name="document" item-left large></ion-icon>
            <h2>Financial Report PDF</h2>

          </ion-item>
        </ion-card>-->

        <ion-card>
          <ion-item (click)="getFinancialReport()" tappable>
            <!--<ion-icon name="download" item-left large></ion-icon>-->
             <button ion-fab mini item-left color="fabc"><ion-icon name="download"></ion-icon></button>
            <h2>Demonstrativo de recebimentos</h2>
          </ion-item>
        </ion-card>
      </div>
    </ion-slide>

    <ion-slide style="background-color: #e7e7e7">
      <div *ngIf="documents" style="padding-bottom:10px;">
        <ion-card *ngFor="let document of documents" (click)="documentAttachment(document)" tappable>
          <ion-item>
            <!--<ion-icon style="padding: 6px;background: #757575;border-radius: 50%;width: 45px;line-height: 34px; font-size:2.2em;" color="light"
              name="download" item-left large></ion-icon>-->

              <!--<ion-icon name="download" item-left large></ion-icon>-->
              <button ion-fab mini item-left color="fabc"><ion-icon name="download"></ion-icon></button>
              <h2 style="color:black;font-weight:bold;font-size:14px;">{{document.DOCUMENTO}}</h2>
              <p style="font-style:italic;font-size:12px;">{{document.DATA}}</p>
          </ion-item>
        </ion-card>
      </div>
    </ion-slide>

    <ion-slide style="background-color: #e7e7e7">
      <div *ngIf="profile" style="background: #e2e4e0; padding: 5px;">
        <ion-list>
          <ion-item *ngFor="let value of profile" style="font-size:14px;">
            {{value.CAMPO}}<span class="text-right" style="position: absolute; left: 40%;font-size:12px;">{{value.VALOR}}</span>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>