<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Calendário anual</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background: #e2e4e0;">
  <ion-item padding-left>
    <div class="circular--portrait" item-left>
      <img src="http://www.kmescolar.net{{globals.student.FOTO}}">
    </div>
    <h2 style="font-size: 1.8rem;">{{globals.student.NOME}}</h2>
  </ion-item>

  <div style="padding-top:16px;"></div>

  <ion-card style="margin-top:0px !important;" *ngFor="let agenda of calenderData?.AGENDA">
    <ion-card-header text-center style="background: #2e92fb; color:white; padding: 5px 16px 5px 16px;">
      {{agenda.MES}}
    </ion-card-header>
    <ion-card-content no-padding style="padding-bottom:0px;">
      <ion-grid style="border-bottom: ridge;" *ngFor="let event of agenda.EVENTOS">
        <ion-row>
          <ion-col col-4 style="padding-left:16px !important;"><span style="text-decoration: underline; font-weight: bold; font-size:40px;">{{event.DATA}}</span><br>
            <span style="font-size: 18px; text-align: center;     margin-left: 7px;">{{event.DIA}}</span>
          </ion-col>
          <ion-col col-8>
            <br> {{event.ATIVIDADE}}
          </ion-col>
        </ion-row>
        <hr>
      </ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>