
page-annual-calender {


.list-ios {
   margin: 0px;
}
.item-ios.item-block .item-inner {
   padding-right: 8px;
   border-bottom: 0px;
}

.item-md.item-block .item-inner{
     padding-right: 8px;
   border-bottom: 0px;
}
.card-md {
       margin: 10px 10px 0px 10px;
}
.card-ios{
margin: 12px 12px 0px 12px;
}





  .circular--portrait {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}


}