page-weekly {

.list-ios {
   margin: 0px;
}
.item-ios.item-block .item-inner {
   padding-right: 8px;
   border-bottom: 0px;
}

.item-md.item-block .item-inner{
     padding-right: 8px;
   border-bottom: 0px;
}
.card-md {
       margin: 10px 10px 0px 10px;
}
.card-ios{
margin: 12px 12px 0px 12px;
}
#tabSlider{
  height: 10vh !important;
}

.SKactiveSegment
    {
        color:#f53d3d !important;
    }
.scroll-content{
    overflow: auto !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    
}
.slide-zoom {
    height: 100%;
    overflow-y: auto;
  }
  ion-segment {
    justify-content: space-between;
      overflow: auto;

      &::-webkit-scrollbar {
          width: 0;
          height: 0;
          display: none;
      }

      ion-segment-button.segment-button {
          display: inline-block;
          min-width: 100px;
          width: auto;
      }
  }









  .circular--portrait {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}
}
