<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Informações acadêmicas</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background: #e2e4e0;" no-bounce>
  <ion-item padding-left>
              <div class="circular--portrait" item-left>
          <img src="http://www.kmescolar.net{{globals.student.FOTO}}">
          </div>
    <h2 style="font-size: 1.8rem;">{{globals.student.NOME}}</h2>
  </ion-item>

  <ion-slides #tabSlider id="tabSlider" (ionSlideDidChange)="tabsChanged()" spaceBetween="1" slidesPerView="2" style="padding-left:33%;">
    <ion-slide *ngFor="let day of weeklyData?.DIAS; let i = index">
      <div>
        <ion-segment>
          <ion-segment-button style="border:none;font-size:20px;" (click)="select(i)">
            {{day?.dia}}
          </ion-segment-button>
        </ion-segment>
      </div>
    </ion-slide>
        <ion-slide>
      <div>
        <ion-segment>
          <ion-segment-button style="border:none;font-size:20px;">
           
          </ion-segment-button>
        </ion-segment>
      </div>
    </ion-slide>
  
  </ion-slides>

  <ion-slides #mySlider id="mySlider" (ionSlideDidChange)="onSlideChanged()">
    <ion-slide *ngFor="let day of weeklyData?.DIAS; let i = index">
      <div *ngIf="day?.aulas.length > 0">
        <ion-card>
        <ion-list *ngFor="let subject of day?.aulas" style="border-bottom:ridge">
          <!--<ion-card>
            <ion-card-content style="text-align: left">
              <h4>{{subject?.DISCIPLINA}}</h4>
              <p style="color: grey">professor {{subject?.PROFESSOR}}</p>
            </ion-card-content>
          </ion-card>-->





    <ion-card-content no-padding style="padding-bottom:0px;">
      <ion-grid>
        <ion-row>
          <ion-col style=" padding: 12px;" col-3><span style="text-decoration: underline; font-weight: bold; font-size:18px;">{{subject?.HORA1}}</span><br>
            <span style="font-size: 18px; text-align: center;">{{subject?.HORA2}}</span>
          </ion-col>
          <ion-col col-9 text-left style="padding:16px;">
              <h2 text-left>{{subject?.DISCIPLINA}}</h2>
              <p text-left style="color: grey">{{subject?.PROFESSOR}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--<hr style="border-bottom:1px ridge black;">-->
    </ion-card-content>








        </ion-list>
          </ion-card>
      </div>
      <div *ngIf="day?.aulas.length == 0">
        <h6>Nenhuma aula informada para este dia</h6>
      </div>
    </ion-slide>
  </ion-slides>

  <!--<ion-card>
    <ion-card-header text-center style="background: #2e92fb; color:white; padding: 5px 16px 5px 16px;">
      Header
    </ion-card-header>
    <ion-card-content style="padding-bottom:0px;">
      <ion-grid>
        <ion-row>
          <ion-col col-4><span style="text-decoration: underline; font-weight: bold; font-size:40px;">22</span><br>
            <span style="font-size: 18px; text-align: center;     margin-left: 7px;">Day</span>
          </ion-col>
          <ion-col col-8>
            The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>
      <ion-grid>
        <ion-row>
          <ion-col col-4><span style="text-decoration: underline; font-weight: bold; font-size:40px;">22</span><br>
            <span style="font-size: 18px; text-align: center;     margin-left: 7px;">Day</span>
          </ion-col>
          <ion-col col-8>
            The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>-->

  <!--<ion-card>
    <ion-card-header text-center style="background: #2e92fb; color:white; padding: 5px 16px 5px 16px;">
      Header
    </ion-card-header>
    <ion-card-content style="padding-bottom:0px;">
      <ion-grid>
        <ion-row>
          <ion-col col-4><span style="text-decoration: underline; font-weight: bold; font-size:40px;">22</span><br>
            <span style="font-size: 18px; text-align: center;     margin-left: 7px;">Day</span>
          </ion-col>
          <ion-col col-8>
            The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>
      <ion-grid>
        <ion-row>
          <ion-col col-4><span style="text-decoration: underline; font-weight: bold; font-size:40px;">22</span><br>
            <span style="font-size: 18px; text-align: center;     margin-left: 7px;">Day</span>
          </ion-col>
          <ion-col col-8>
            The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>-->

</ion-content>