<ion-header>

  <ion-navbar color="primary">
    <ion-title>Contas e mensalidades</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #e7e7e7">



      <div style="padding-bottom:10px;">
        <div *ngFor="let bill of bills.CONTAS">
          <div *ngIf="bill.STATUS == 1 ">
            <ion-card>
          <div (click)="downloadBill(bill.PDF)" tappable>
          <ion-item>
            <!--<ion-icon name="calendar" ios="md-calendar" md="md-calendar" item-left large></ion-icon>-->
             <button ion-fab mini item-left color="primary"><ion-icon name="download"></ion-icon></button>
            <h2 text-wrap>{{bill.MOTIVO}} - {{bill.MES}}</h2>
            <p text-wrap>Conta {{bill.CONTA}}</p>
            

          </ion-item>
          <div style="border-bottom:ridge;margin-left: 18%;margin-right: 3%;"></div>
          <ion-item>
          
        <button ion-fab mini item-left color="primary" style="visibility:hidden;"><ion-icon name="download"></ion-icon></button>
          <h2 text-wrap>{{bill.VALOR}}</h2>
            <p text-wrap>{{bill.SALDO}}</p>
          </ion-item>

          </div>
            </ion-card>
          </div>

        
          <div *ngIf="bill.STATUS == 2 " style="opacity:0.6;">
            <ion-card>
          <div>
          <ion-item>
            <!--<ion-icon name="calendar" ios="md-calendar" md="md-calendar" item-left large></ion-icon>-->
             <button ion-fab mini item-left color="fabr"><ion-icon name="document"></ion-icon></button>
            <h2 text-wrap>{{bill.MOTIVO}} - {{bill.MES}}</h2>
            <p text-wrap>Conta {{bill.CONTA}}</p>
            

          </ion-item>
          <div style="border-bottom:ridge;margin-left: 18%;margin-right: 3%;"></div>
          <ion-item>
          
        <button ion-fab mini item-left color="fabc" style="visibility:hidden;"><ion-icon name="document"></ion-icon></button>
          <h2 text-wrap>{{bill.VALOR}}</h2>
            <p text-wrap>{{bill.SALDO}}</p>
          </ion-item>

          </div>
            </ion-card>
          </div>






          <div *ngIf="bill.STATUS == 3 " style="opacity:0.6;">
            <ion-card>
          <div>
          <ion-item>
            <!--<ion-icon name="calendar" ios="md-calendar" md="md-calendar" item-left large></ion-icon>-->
             <button ion-fab mini item-left color="fabg"><ion-icon name="document"></ion-icon></button>
            <h2 text-wrap>{{bill.MOTIVO}} - {{bill.MES}}</h2>
            <p text-wrap>Conta {{bill.CONTA}}</p>
            

          </ion-item>
          <div style="border-bottom:ridge;margin-left: 18%;margin-right: 3%;"></div>
          <ion-item>
          
        <button ion-fab mini item-left color="fabc" style="visibility:hidden;"><ion-icon name="document"></ion-icon></button>
          <h2 text-wrap>{{bill.VALOR}}</h2>
            <p text-wrap>{{bill.SALDO}}</p>
          </ion-item>

          </div>
            </ion-card>
          </div>

        </div>

      </div>






<!--
  <ion-card *ngFor="let bill of bills.CONTAS">
  <ion-card-header>
    <h4>{{bill.CONTA}}</h4>
  </ion-card-header>

  <ion-list inset>
    <button ion-item *ngIf="bill.MES">
      MES: {{bill.MES}}
    </button>

    <button ion-item *ngIf="bill.VENCIMENTO">
      VENCIMENTO: {{bill.VENCIMENTO}}
    </button>

    <button ion-item *ngIf="bill.MOTIVO">
      MOTIVO: {{bill.MOTIVO}}
    </button>

    <button ion-item *ngIf="bill.VALOR">
      VALOR: {{bill.VALOR}}
    </button>

    <button ion-item *ngIf="bill.TIPO">
      TIPO: {{bill.TIPO}}
    </button>

    <button ion-item *ngIf="bill.MEDATAPAGOS">
      DATAPAGO: {{bill.DATAPAGO}}
    </button>

    <button ion-item *ngIf="bill.VALORPAGO">
      VALORPAGO: {{bill.VALORPAGO}}
    </button>

    <button ion-item *ngIf="bill.SALDO">
      SALDO: {{bill.SALDO}}
    </button>

    <button *ngIf="bill.MES" ion-item (click)="downloadBill(bill.PDF)">
      <ion-icon name="download" item-left large></ion-icon>
      Download bill
    </button>
  </ion-list>
</ion-card>-->
</ion-content>
