<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Trocar senha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>


  <ion-card>
    <ion-card-content>

      <!--<ion-item style="border: 1px solid;">
        <ion-input type="text" placeholder="Senha atual"></ion-input>
      </ion-item>-->

      <!--<br>-->

      <ion-item style="border: 1px solid;">
        <ion-input type="password" [(ngModel)]="password" placeholder="Nova senha"></ion-input>
      </ion-item>

      <br>
      <ion-item style="border: 1px solid;">
        <ion-input type="password" [(ngModel)]="reconfirmPassword" placeholder="Confirmar nova senha"></ion-input>
      </ion-item>
      <p *ngIf="!passwordSame">A senha não corresponde</p>
      <br>

      <ion-grid style="padding-right:0;">
        <ion-row>
          <ion-col col-6></ion-col>
          <ion-col col-6 style="text-align:right;padding-right:0;">
            <button ion-button (click)="changePassword()">CONFIRMAR</button></ion-col>
        </ion-row>

      </ion-grid>

    </ion-card-content>
  </ion-card>


</ion-content>