<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div style="background:#f0f0f0;" padding text-center>
      <div class="circular--portrait">

        <img src="http://www.kmescolar.net{{parentPhoto}}" alt="">
      </div>
      <h2>{{parentName}}</h2>
    </div>
    <ion-list>
      <button ion-item style="padding-top:10px; padding-bottom:10px;" (click)="goToChildPage()">
        <ion-icon name="happy" item-left></ion-icon>
        Alunos do responsável
      </button>

      <button ion-item style="padding-top:10px; padding-bottom:10px;" (click)="changePassword()">
        <ion-icon name="lock" item-left></ion-icon>
        Trocar Senha
      </button>

      <button ion-item style="padding-top:10px; padding-bottom:10px;" (click)="logout()">
        <ion-icon name="person" item-left></ion-icon>
        Sair
      </button>
      
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>