page-child {
#notifications-badge {
           background-color: red;
           position: absolute;
           margin-top: 10px;
           right: 20px;
           border-radius: 100%;
           padding: 4px 7px !important;
           line-height: 13px !important;
       }


.circular--portrait {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}


}
