<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Colégio Kogumelo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color:#f0f0f0;" no-bounce>


  <ion-card *ngFor="let student of students" tappable (click)="getStudentProfile(student.IDALUNO, student.MATRICULA, student)">
    <ion-badge id="notifications-badge" color="danger" *ngIf="student.NOVO > 0">{{student.NOVO}}</ion-badge>
    <ion-grid>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4 text-center>

          <!--<div [style.background-image]="'url(http://www.kmescolar.net{{student.FOTO}})'" style="width:100px; height:100px;border-radius: 50%; background-size:cover;">-->
          <div class="circular--portrait">
            <span *ngIf="!student.FOTO">
              <img src="assets/img/shool-logo.png" alt="">
            </span>
            <span *ngIf="student.FOTO">
              <img src="http://www.kmescolar.net{{student.FOTO}}">
            </span>
          </div>
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>



      <ion-row>
        <ion-label text-center style="margin: 0;">
          <h2>{{student.NOME}}</h2>
        </ion-label>

      </ion-row>

      <ion-row>

        <ion-label text-center style="margin: 0;">
          <h3 style="color:dimgray">Marticula: {{student.MATRICULA}}</h3>
        </ion-label>
      </ion-row>

      <ion-row>

        <ion-label text-center style="margin: 0;">
          <h3 style="color:dimgray">Turma: {{student.TURMA}}</h3>
        </ion-label>
      </ion-row>




      <!--<ion-row>
        <ion-label text-center style="margin: 0;">Novo {{student.NOVO}}</ion-label>
      </ion-row>-->


    </ion-grid>




  </ion-card>


</ion-content>