<!--
  Generated template for the Test page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>test</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-slides pager paginationType="fraction" loop="true">

    <ion-slide>
      <!--<h2>Slide 1</h2>-->
      <div class="line"></div>
    </ion-slide>

    <ion-slide >
      <!--<h2>Slide 2</h2>-->
      <div class="line"></div>
    </ion-slide>

    <ion-slide >
      <!--<h2>Slide 3</h2>-->
      <div class="line"></div>
    </ion-slide>

  </ion-slides>
</ion-content>
